<div class="site-banner">
	<div class="banner-content">
		<div class="container">
			<div class="row">
				<div class="col-md-12">			
					<div class="colored">
						<h1>Shop</h1>
						<div class="breadcum-items">
							<span class="item"><a routerLink="/" routerLinkActive="active">Home /</a></span>
							<span class="item colored">Shop</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div><!--site-banner-->

<section class="our-team bg-sand padding-large">
	<div class="container">
		<div class="row">

				<div class="product-item col-md-3 pb-4">
					<a routerLink="/single-product" class="product-image"><img src="../../../assets/images/cake-item1.jpg"></a>
					<div class="text-comtent text-center">
						<h5 class="pt-4"><a routerLink="/single-product">Black Forest Pastry</a></h5>
						<p>Cake - Pastries</p>
						<span class="price colored">$1</span>
					</div>
				</div>
				<div class="product-item col-md-3 pb-4">
					<a routerLink="/single-product" class="product-image"><img src="../../../assets/images/cake-item2.jpg"></a>
					<div class="text-comtent text-center">
						<h5 class="pt-4"><a routerLink="/single-product">Sprinkled Donuts</a></h5>
						<p>Cake - Pastries</p>
						<span class="price colored">$12</span>
					</div>
				</div>
				<div class="product-item col-md-3 pb-4">
					<a routerLink="/single-product" class="product-image"><img src="../../../assets/images/cake-item3.jpg"></a>
					<div class="text-comtent text-center">
						<h5 class="pt-4"><a routerLink="/single-product">Black Forest Cupcake</a></h5>
						<p>Cake - Pastries</p>
						<span class="price colored">$10</span>
					</div>
				</div>
				<div class="product-item col-md-3 pb-4">
					<a routerLink="/single-product" class="product-image"><img src="../../../assets/images/cake-item4.jpg"></a>
				    <div class="text-comtent text-center">
						<h5 class="pt-4"><a routerLink="/single-product">Macarons with Berries</a></h5>
						<p>Cake - Pastries</p>
						<span class="price colored">$12</span>
					</div>
				</div>
				<div class="product-item col-md-3 pb-4">
					<a routerLink="/single-product" class="product-image"><img src="../../../assets/images/cake-item1.jpg"></a>
				    <div class="text-comtent text-center">
						<h5 class="pt-4"><a routerLink="/single-product">Macarons with Berries</a></h5>
						<p>Cake - Pastries</p>
						<span class="price colored">$12</span>
					</div>
				</div>
				<div class="product-item col-md-3 pb-4">
					<a routerLink="/single-product" class="product-image"><img src="../../../assets/images/cake-item1.jpg"></a>
					<div class="text-comtent text-center">
						<h5 class="pt-4"><a routerLink="/single-product">Black Forest Pastry</a></h5>
						<p>Cake - Pastries</p>
						<span class="price colored">$12</span>
					</div>
				</div>
				<div class="product-item col-md-3 pb-4">
					<a routerLink="/single-product" class="product-image"><img src="../../../assets/images/cake-item2.jpg"></a>
					<div class="text-comtent text-center">
						<h5 class="pt-4"><a routerLink="/single-product">Sprinkled Donuts</a></h5>
						<p>Cake - Pastries</p>
						<span class="price colored">$12</span>
					</div>
				</div>
				<div class="product-item col-md-3 pb-4">
					<a routerLink="/single-product" class="product-image"><img src="../../../assets/images/cake-item3.jpg"></a>
					<div class="text-comtent text-center">
						<h5 class="pt-4"><a routerLink="/single-product">Black Forest Cupcake</a></h5>
						<p>Cake - Pastries</p>
						<span class="price colored">$18</span>
					</div>
				</div>
				<div class="product-item col-md-3 pb-4">
					<a routerLink="/single-product" class="product-image"><img src="../../../assets/images/cake-item4.jpg"></a>
				    <div class="text-comtent text-center">
						<h5 class="pt-4"><a routerLink="/single-product">Macarons with Berries</a></h5>
						<p>Cake - Pastries</p>
						<span class="price colored">$11</span>
					</div>
				</div>
				<div class="product-item col-md-3 pb-4">
					<a routerLink="/single-product" class="product-image"><img src="../../../assets/images/cake-item1.jpg"></a>
				    <div class="text-comtent text-center">
						<h5 class="pt-4"><a routerLink="/single-product">Macarons with Berries</a></h5>
						<p>Cake - Pastries</p>
						<span class="price colored">$14</span>
					</div>
				</div>
				<div class="product-item col-md-3 pb-4">
					<a routerLink="/single-product" class="product-image"><img src="../../../assets/images/cake-item4.jpg"></a>
				    <div class="text-comtent text-center">
						<h5 class="pt-4"><a routerLink="/single-product">Macarons with Berries</a></h5>
						<p>Cake - Pastries</p>
						<span class="price colored">$1200</span>
					</div>
				</div>
				<div class="product-item col-md-3 pb-4">
					<a routerLink="/single-product" class="product-image"><img src="../../../assets/images/cake-item1.jpg"></a>
				    <div class="text-comtent text-center">
						<h5 class="pt-4"><a routerLink="/single-product">Macarons with Berries</a></h5>
						<p>Cake - Pastries</p>
						<span class="price colored">$0.5</span>
					</div>
				</div>

		</div>
	</div>
</section>