<section id="billboard">
	<div class="main-slider">
		
		<div class="slider-item">
			
			<figure>
				<img src="../../../assets/images/banner1.jpg">
			</figure>
			
			<div class="text-content col-md-8">
				<span>- RECIÉN HORNEADO CADA MAÑANA</span>
				<h2 class="text-uppercase colored padding-xsmall"><a href="#">deliciosos cupcakes para ti</a></h2>
				<p>
                    Una hermosa selección de nuestros favoritos para que un cliente los envíe como regalo de Año Nuevo.
                    Una hermosa selección de nuestros favoritos para que un cliente los envíe como regalo de Año Nuevo.
                </p>
				<div class="pix_btn">
					<a href="#" class="btn-hvr-effects mt-3">Compre ahora</a>
				</div>
			</div><!--content-box-->


		</div><!--slider-item-->

		<div class="slider-item">
			
			<figure>
				<img src="../../../assets/images/banner2.jpg">
			</figure>
			
			<div class="text-content col-md-8">
				<span>- RECIÉN HORNEADO CADA MAÑANA</span>
				<h2 class="text-uppercase colored padding-xsmall"><a href="">Disfruta con estos cakes</a></h2>
				<p>
                    Una hermosa selección de nuestros favoritos para que un cliente los envíe como regalo de Año Nuevo.
                    Una hermosa selección de nuestros favoritos para que un cliente los envíe como regalo de Año Nuevo.
                </p>
				<div class="pix_btn">
					<a href="#" class="btn-hvr-effects mt-3">Compre ahora</a>
				</div>
			</div><!--content-box-->

				
		</div><!--slider-item-->

		<div class="slider-item">
			
			<figure>
				<img src="../../../assets/images/banner3.jpg">
			</figure>	
								
			<div class="text-content col-md-8">
				<span>- RECIÉN HORNEADO CADA MAÑANA</span>
				<h2 class="text-uppercase colored padding-xsmall"><a href="">deliciosos cupcakes para ti</a></h2>
				<p>
                    Una hermosa selección de nuestros favoritos para que un cliente los envíe como regalo de Año Nuevo.
                    Una hermosa selección de nuestros favoritos para que un cliente los envíe como regalo de Año Nuevo.
                </p>
				<div class="pix_btn">
					<a href="#" class="btn-hvr-effects mt-3">Compre ahora</a>
				</div>
			</div><!--content-box-->

					
		</div><!--slider-item-->

	</div><!--slider-->

</section>

<section class="about-us margin-medium">
	<div class="container">
		<div class="row">
			<div class="nav-tabs-wrap products-tab">
				
				<h2 class="section-title text-center">Sobre Nosotros</h2>
				
				<nav>
					<div class="nav nav-tabs padding-small text-hover" id="nav-tab" role="tablist">
						<a class="nav-link active" id="nav-missions-tab" data-bs-toggle="tab" data-bs-target="#nav-missions" role="tab" aria-controls="nav-missions" aria-selected="true">Nuestra Misión</a>
						<a class="nav-link" id="nav-values-tab" data-bs-toggle="tab" data-bs-target="#nav-values" role="tab" aria-controls="nav-values" aria-selected="false">Nuestros Valores
						</a>
						<a class="nav-link" id="nav-goals-tab" data-bs-toggle="tab" data-bs-target="#nav-goals" role="tab" aria-controls="nav-goals" aria-selected="false">Nuestras Metas</a>
					</div>
				</nav>

				<div class="tab-content" id="nav-tabContent">
					<div class="tab-pane fade show active" role="tabpanel" id="nav-missions" aria-labelledby="nav-missions-tab">
						<div class="col-md-12">
							<div class="row">						
								
								<div class="col-md-6">
									<div class="product-image" style="background-image: url(../../../assets/images/tabimg.jpg);background-size: cover;"></div>
								</div>
								
								<div class="text-content col-md-6 bg-Peach p-5">
									<h3 class="mb-4">
                                        Estos productos son para que todos sean felices y tengan paz
									</h3>
									<p>
                                        Una hermosa selección de nuestros favoritos para que un cliente los envíe como regalo de Año Nuevo.
                                        Una hermosa selección de nuestros favoritos para que un cliente los envíe como regalo de Año Nuevo.
                                    </p>
									<p>
                                        Una hermosa selección de nuestros favoritos para que un cliente los envíe como regalo de Año Nuevo.
                                        Una hermosa selección de nuestros favoritos para que un cliente los envíe como regalo de Año Nuevo.
                                    </p>
									<div class="pix_btn mt-4">
										<a href="#" class="btn-hvr-effects">leer más</a>
									</div>
								</div>
							</div>
						</div><!--content-->
					</div><!--tab-pane-->

					<div class="tab-pane fade" role="tabpanel" id="nav-values" aria-labelledby="nav-values-tab">
						<div class="col-md-12">
							<div class="row">
								
								<div class="col-md-6">
									<div class="product-image" style="background-image: url(../../../assets/images/tabimg1.jpg);background-size: cover;"></div>
								</div>

								<div class="text-content col-md-6 bg-Peach p-5">
									<h3 class="mb-4">
										Estos productos son para que todos sean felices y tengan paz
									</h3>
									<p>
                                        Una hermosa selección de nuestros favoritos para que un cliente los envíe como regalo de Año Nuevo.
                                        Una hermosa selección de nuestros favoritos para que un cliente los envíe como regalo de Año Nuevo.
                                    </p>
									<div class="pix_btn mt-4">
										<a href="#" class="btn-hvr-effects">leer más</a>
									</div>
								</div>
							</div>
						</div><!--col-md-12-->
					</div><!--tab-panel-->

					<div class="tab-pane fade" role="tabpanel" id="nav-goals" aria-labelledby="nav-goals-tab">
						<div class="col-md-12">
							<div class="row">

								<div class="col-md-6">
									<div class="product-image" style="background-image: url(../../../assets/images/tabimg.jpg);background-size: cover;"></div>
								</div>

								<div class="text-content col-md-6 bg-Peach p-5">
									<h3 class="mb-4">
										Una hermosa selección de nuestros favoritos para que un cliente los envíe como regalo de Año Nuevo
									</h3>
									<p>
                                        Una hermosa selección de nuestros favoritos para que un cliente los envíe como regalo de Año Nuevo.
                                        Una hermosa selección de nuestros favoritos para que un cliente los envíe como regalo de Año Nuevo.
                                    </p>
									<div class="pix_btn mt-4">
										<a href="#" class="btn-hvr-effects">leer más</a>
									</div>
								</div>
							</div>
						</div><!--content-->
					</div><!--tab-panel-->

				</div><!--tab-content-->

			</div><!---with-nav-tabs--->
		</div>
	</div>				

</section>

<section class="best-products margin-large">
	<div class="container">
			<h2 class="section-title text-center mb-4">Productos destacados</h2>
		<div class="row">
		<div class="d-flex products-slider">

				<div class="product-item col-md-3 pl-0">
					<a routerLink="/single-product" class="product-image"><img src="../../../assets/images/cake-item1.jpg"></a>
					<div class="text-comtent text-center text-hover">
						<h5 class="pt-4"><a routerLink="/single-product">Black Forest Pastry</a></h5>
						<p>Cake - Pastries</p>
						<span class="price colored">$1</span>
					</div>
				</div>
				<div class="product-item col-md-3 pl-0">
					<a routerLink="/single-product" class="product-image"><img src="../../../assets/images/cake-item2.jpg"></a>
					<div class="text-comtent text-center text-hover">
						<h5 class="pt-4"><a routerLink="/single-product">Sprinkled Donuts</a></h5>
						<p>Cake - Pastries</p>
						<span class="price colored">$1</span>
					</div>
				</div>
				<div class="product-item col-md-3 pl-0">
					<a routerLink="/single-product" class="product-image"><img src="../../../assets/images/cake-item3.jpg"></a>
					<div class="text-comtent text-center text-hover">
						<h5 class="pt-4"><a routerLink="/single-product">Black Forest Cupcake</a></h5>
						<p>Cake - Pastries</p>
						<span class="price colored">$1</span>
					</div>
				</div>
				<div class="product-item col-md-3 pl-0">
					<a routerLink="/single-product" class="product-image"><img src="../../../assets/images/cake-item4.jpg"></a>
				    <div class="text-comtent text-center text-hover">
						<h5 class="pt-4"><a routerLink="/single-product">Macarons with Berries</a></h5>
						<p>Cake - Pastries</p>
						<span class="price colored">$1</span>
					</div>
				</div>
				<div class="product-item col-md-3 pl-0">
					<a routerLink="/single-product" class="product-image"><img src="../../../assets/images/cake-item1.jpg"></a>
				    <div class="text-comtent text-center text-hover">
						<h5 class="pt-4"><a routerLink="/single-product">Macarons with Berries</a></h5>
						<p>Cake - Pastries</p>
						<span class="price colored">$1</span>
					</div>
				</div>

			</div><!--slider-->
		</div>
	</div>
</section>

<section class="gallery-wrap margin-medium">
	<div class="container">
		<h2 class="section-title mb-5 text-center">Mire nuestra galeria</h2>
		<div class="row">
			<div class="d-flex flex-wrap col-md-12">
				<figure class="col-md-4 mb-3 pl-0">
					<a class="magnific-popup" href="../../../assets/images/blackforest.jpg" title="Blackforest">
						<img src="../../../assets/images/blackforest.jpg" alt="cake" class="galleryImg">
						<div class="overlay">
							<i class="icon fa-solid fa-magnifying-glass-plus"></i>
						</div><!--imgOverlay-->
					</a>
				</figure>
				<figure class="col-md-4 mb-3 pl-0">
					<a class="magnific-popup" href="../../../assets/images/macarons.jpg" title="Macarons">
						<img src="../../../assets/images/macarons.jpg" alt="cake" class="galleryImg">
						<div class="overlay">
							<i class="icon fa-solid fa-magnifying-glass-plus"></i>
						</div><!--imgOverlay-->
					</a>
				</figure>
				<figure class="col-md-4 mb-3 pl-0">
					<a class="magnific-popup" href="../../../assets/images/blackforest.jpg" title="Blackforest">
						<img src="../../../assets/images/blackforest.jpg" alt="cake" class="galleryImg">
						<div class="overlay">
							<i class="icon fa-solid fa-magnifying-glass-plus"></i>
						</div><!--imgOverlay-->
					</a>
				</figure>
				<figure class="col-md-4 mb-3 pl-0">
					<a class="magnific-popup" href="../../../assets/images/blackforest.jpg" title="Blackforest">
						<img src="../../../assets/images/blackforest.jpg" alt="cake" class="galleryImg">
						<div class="overlay">
							<i class="icon fa-solid fa-magnifying-glass-plus"></i>
						</div><!--imgOverlay-->
					</a>
				</figure>
				<figure class="col-md-4 mb-3 pl-0">
					<a class="magnific-popup" href="../../../assets/images/macarons.jpg" title="Macarons">
						<img src="../../../assets/images/macarons.jpg" alt="cake" class="galleryImg">
						<div class="overlay">
							<i class="icon fa-solid fa-magnifying-glass-plus"></i>
						</div><!--imgOverlay-->
					</a>
				</figure>
				<figure class="col-md-4 mb-3 pl-0">
					<a class="magnific-popup" href="../../../assets/images/sprinkleddonuts.jpg" title="Sprinkleddonuts">
						<img src="../../../assets/images/sprinkleddonuts.jpg" alt="cake" class="galleryImg">
						<div class="overlay">
							<i class="icon fa-solid fa-magnifying-glass-plus"></i>
						</div><!--imgOverlay-->
					</a>
				</figure>
			</div><!--content-->
			<div class="pix_btn text-center m-auto">
				<a href="#" class="btn-hvr-effects mt-3">Ver todas</a>
			</div>
		</div>
	</div>
</section>